
/*report module style*/
@media screen and (min-width: 768px) {
	
	#myModal4 .modal-dialog  {width:75%;}

}
.nopadding {
    padding: 7px !important;
    margin: 0 !important;
}

.dashboard-box {
    background-color: #ECF0F5;
    width: 100%;
    height: 90px;
    padding: 25px 15px 15px 15px;
    text-align: center;
    border: 1px solid #d1d2d3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

    .dashboard-box p {
        margin: 0;
    }

#navDate {
    padding-left: 10px;
    padding-right: 10px;
}
.info-box-custom {
    background-color: #ECF0F5;
    border: 1px solid #cbced3;
}

.chart-box {
    height: 300px;
    width: 100%;
    /*border: 1px solid #cbced3;*/
}

/*.table-box{
	width: 100%;
}

.table th{
	background-color:#5AA2AE;
	color:#FFF;
}

.table, th, tr {
   border: 2px solid #5AA2AE;
}

.table, td {
   border-bottom: 2px solid #5AA2AE;
}*/

.report-select {
    float: right;
    margin: 0 5px 0 5px;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 150px;
    height: 35px;
    border: 1px solid #d2d6de;
}

.cover {
  object-fit: contain;
}
.red-tooltip + .tooltip > .tooltip-inner {background-color: white;color:black;}
.red-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:white; }


